<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#pagetitle}</title>
<meta content="{#pagedescription}" name="description" />
<meta content="{#pagekeywords}" name="keywords" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody"> 
<div class='titlezs'> 
<ul>
<li style='float:left;padding:0 0 0 40px;width:120px;font-size:14px'>
{#bigclass}
</li>		
<li style="float:left;width:680px">
{#zssmallclass}
</li>
<li style="float:left;color:#cccccc">
{#more}
</li>			
</ul>    
</div> 		  
<div style="background-color:#000000;padding:10px;color:#FFFFFF">
{#adlist}        
</div>
</div>
{#sitebottom}
</div>
</body>
</html>